body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Good base size for mobile */
    align-items: center; /* Center content vertically */
    width: 100vw;  /* Ensure the body takes full width */
    min-height: 100vh;  /* Ensure the body takes at least full height of the viewport */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

input, select, button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 10px auto; /* Consistent margin for all form elements */
    display: block; /* Ensures that elements do not align inline */
    width: 90%; /* Optimal width on smaller screens */
    box-sizing: border-box; /* Includes padding and border in the element's width */
}

.enterNotes, .intonationSelect, .controls {
    display: grid;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.label, strong {
    font-weight: bold;
}

.controls, footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons vertically */
    justify-content: center; /* Center buttons horizontally */
    margin: 20px 0;
}

#waveformCanvas, nav, footer {
    width: 100%;
    text-align: center;
}

nav, footer {
    position: relative; /* Adjusted for footer to stay at bottom */
}

button {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    border: 2px solid black; /* Slightly thinner border for a cleaner look */
    color: black;
    cursor: pointer; /* Make it clear the button is clickable */
}

button:hover {
    background-color: cyan;
}

footer {
    padding: 10px 0;
}

@media (min-width: 768px) { /* Tablets and up */
    body {
        font-size: 18px; /* Slightly larger font size for readability */
    }

    input, select, button {
        width: 50%; /* Wider screens can handle a narrower width for form elements */
    }

    .controls, .enterNotes {
        grid-template-columns: repeat(2, 1fr); /* Two columns for better layout */
    }
}

@media (min-width: 1024px) { /* Desktops */
    input, select, button {
        width: 40%; /* Ideal width for desktop to avoid too wide elements */
    }

    .controls, .enterNotes {
        grid-template-columns: repeat(3, 1fr); /* Three columns layout for desktop */
    }
}