html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f9f9f9; 
    color: #333; 
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: #202020;
    color: white;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
    display:flex;
    text-align: center;
}
nav {
    text-align: center;
}
h1 {
    text-align: center;
}
nav a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px auto;
    position:relative;
    display:flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    top: 0px;
}

section.controls {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 0px;
}
section.sine-controls {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 0px;
}
#canvasID {
    max-width: 800px;
    width: 100%;
    height: auto;
    display: inline-block;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
.input-group {
    margin-bottom: 15px;
}
.note-inputs {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 10px;
}
.note-text {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="range"] {
    width: 100%;
}

button {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 33%;
}

button:hover {
    background-color: #e60000; 
}

footer {
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 0px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 14px;
}

canvas {
 display:flex;
 position: relative;
 }

@media (min-width: 768px) {
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .input-group {
        flex-basis: 30%; 
    }
}

@media (max-width: 400px) {
    .controls {
        flex-direction: column;
    }
}

@media (min-width: 375px) {
    html {
        width: 100%;  
        padding: 0;  
    }
    body {
        width: 100vw; 
        margin: 0 auto; 
        padding: 0;  
        max-width: 100%; 
    }
    main {
        margin: 0; 
        padding: 10px 10px 40px 10px; 
    }
    .controls {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly; 
        align-items: center;
        padding-left: 2px;
        padding-right: 2px;
    }
    .sine-controls {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly; 
        align-items: center; 
    }
#sineCanvas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
}
    .input-group {
        flex-basis: 100%; 
        margin-bottom: 10px; 
    }
    footer {
        bottom: 0px;
        margin-top: 5px;
        padding: 0px;
    }
}

@media (min-width: 280px) {
    html {
        width: 100%;  
        padding: 0;   
    }
    body {
        width: 100vw; 
        margin: 0 auto;
        padding: 0;  
        max-width: 100%; 
    }
    main {
        margin: 0; 
        padding: 5px 8px 25px 8px;
    }
    .controls {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center; 
        padding-left: 2px;
        padding-right: 2px;
    }
    .sine-controls {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly; 
        align-items: center;
    }
#sineCanvas {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
}
    .input-group {
        flex-basis: 100%; 
        margin-bottom: 10px; 
    }
    footer {
        bottom: 0px;
        margin-top: 5px;
        padding: 0px;
    }
}
@media (max-width: 1024px) {
    html {
        width: 100%; 
        padding: 0;   
    }
    body {
        width: 100vw; 
        margin: 0 auto; 
        padding: 0; 
        max-width: 100%; 
        font-size: 30px;
    }
    main {
        margin: 0; 
        padding: 0px 10px 15px 10px; 
    }
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
        align-items: center;
        padding-left: 2px;
        padding-right: 2px;
    }
    input[type="text"], select {
        width: 100%;
        padding: 8px;
        margin: 8px 0;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 20px;
    }
    .sine-controls {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly; 
        align-items: center; 
    }
#sineCanvas {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
}
    .input-group {
        flex-basis: 100%; 
        margin-bottom: 15px; 
    }
    footer {
        bottom: 0px;
        margin-top: 1px;
        padding: 0px;
    }
}
@media (max-width: 820px) {
    html {
        width: 100%;  
        padding: 0;   
    }
    body {
        width: 100vw;
        margin: 0 auto; 
        padding: 0; 
        max-width: 100%; 
        font-size: 25px;
    }
    main {
        margin: 0; 
        padding: 0px 10px 10px 10px;
    }
    .controls {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly; 
        align-items: center; 
        padding-left: 2px;
        padding-right: 2px;
    }
    .sine-controls {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
#sineCanvas {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center;
    height:100px;
}
    .input-group {
        flex-basis: 90%; 
        margin-bottom: 10px; 
    }
    footer {
        bottom: 0px;
        margin-top: 10px;
        padding: 0px;
    }
}

@media (max-width: 768px) {
    html {
        width: 100%;  
        padding: 0;   
    }
    body {
        width: 100vw;
        margin: 0 auto; 
        padding: 0;  
        max-width: 100%; 
        font-size: 20px;
    }
    main {
        margin: 0; 
        padding: 0px 10px 10px 10px; 
    }
    .controls {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center; 
        padding-left: 2px;
        padding-right: 2px;
        height: 20px;
    }
    .sine-controls {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly; 
        align-items: center; 
    }
#sineCanvas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
    height:80px;
}
    .input-group {
        flex-basis: 90%; 
        margin-bottom: 10px;
    }
    footer {
        bottom: 0px;
        margin-top: 10px;
        padding: 0px;
    }
}