html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f9f9f9; /* YouTube's background color */
    color: #333; /* Main text color */
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: #202020; /* Dark background for the header */
    color: white;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3); /* Subtle shadow for depth */
    position: fixed;
    top: 0;
    z-index: 1000;
    display:flex;
    text-align: center;
}
nav {
    text-align: center;
}
h1 {
    text-align: center;
}
nav a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px auto;
    position:relative;
    display:flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    top: 0px;
}

section.controls {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 0px;
}
section.sine-controls {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 0px;
}
#canvasID {
    max-width: 800px;
    width: 100%;
    height: auto;
    display: inline-block;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
.input-group {
    margin-bottom: 15px;
}
.note-inputs {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 10px;
}
input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="range"] {
    width: 100%;
}

button {
    background-color: #cc0000; /* Red button backgrounds */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 33%;
}

button:hover {
    background-color: #e60000; /* Slightly lighter red on hover */
}

footer {
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 0px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 14px;
}

canvas {
 display:flex;
 position: relative;
 }

@media (min-width: 768px) {
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .input-group {
        flex-basis: 30%; /* Adjust based on content */
    }
}

@media (max-width: 400px) {
    .controls {
        flex-direction: column;
    }
}

@media (min-width: 375px) {
    html {
        width: 100%;  /* Full width to ensure it covers the viewport */
        padding: 0;   /* Remove padding to use space efficiently */
    }
    body {
        width: 100vw; /* Set width relative to the viewport width */
        margin: 0 auto; /* Center the body if needed */
        padding: 0;  /* Remove padding to maximize usable space */
        max-width: 100%; /* Ensure body doesn't exceed the width of the html */
    }
    main {
        margin: 0; /* Remove margin to align with the full width layout */
        padding: 10px 10px 40px 10px; /* Add padding to avoid content touching the screen edges */
    }
    .controls {
        display: flex;
        flex-direction: row; /* Align items in a row for better horizontal use of space */
        justify-content: space-evenly; /* Evenly space the flex items */
        align-items: center; /* Align items vertically */
        padding-left: 2px;
        padding-right: 2px;
    }
    .sine-controls {
        display: flex;
        flex-direction: column; /* Align items in a row for better horizontal use of space */
        justify-content: space-evenly; /* Evenly space the flex items */
        align-items: center; /* Align items vertically */
    }
#sineCanvas {
    display: flex;
    flex-direction: column; /* Align items in a row for better horizontal use of space */
    justify-content: space-evenly; /* Evenly space the flex items */
    align-items: center; /* Align items vertically */
}
    .input-group {
        flex-basis: 100%; /* Make input group take full width of its container */
        margin-bottom: 10px; /* Add some margin below each input group for separation */
    }
    footer {
        bottom: 0px;
        margin-top: 5px;
        padding: 0px;
    }
}